dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.cabal-sandbox
cabal.sandbox.config
*.conf.d/

.vagrant

Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks

# Bundler
Gemfile.lock
bin/*
.bundle/*

secrets.yml
.DS_Store