<div class="navbar navbar-fixed-top">
  <a href="#" class="navbar-brand">Tasks</a>
  <!--<p class="navbar-text pull-right">-->
    <!--<a href="#">Ian Duncan</a>-->
  <!--</p>-->
</div>
<div class="row">
  <div class="col-lg-3">
    <form>
      <input type="search" class="form-control" placeholder="Search">
    </form>
    <h3>Personal</h3>
    <div class="list-group">
      <a class="list-group-item" href="#"><i class="glyphicon glyphicon-inbox" /> Inbox</a>
    </div>
    <!--
    <h3>Organization <i class="glyphicon glyphicon-chevron-down pull-right"/></h3>
    <div class="list-group">
      <a class="list-group-item" data-ng-repeat="team in organization.groups" href="team.token">{{team.name}}</a>
    </div>
    -->
  </div>
  <div class="col-lg-9">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h3>{{activeList.name}}</h3>
        </div>
        <div class="col-lg-4">
          <input class="form-control" type="search" placeholder="Filter" value="" ng-model="taskFilter">
        </div>
      </div>
      <div class="row" data-ng-repeat="(taskId, task) in activeList.tasks | filter:taskFilter">
        <div class="col-lg-12">
          <div class="task" >
            <div class="checkbox">
              <label>
                <input type="checkbox" data-ng-checked="task.complete" ng-click="toggleTaskCompletion(taskId)">
                {{task.name}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <form ng-submit="addTask()">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Task Description" ng-model="newTaskName">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Add Task</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
